body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #e5e1e4;
}

#mapContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('map.png') no-repeat center center;
    background-size: contain;
    cursor: grab;
    transition: transform 0.1s ease;
}

.marker {
    position: absolute;
    width: 20px;
    height: 20px;
}

    .marker.selected {
        filter: hue-rotate(180deg);
        z-index: 999;
    }

    .marker.disconnected {
        filter: grayscale(1.0);
    }

.player-icon {
    width: 100%;
    height: 100%;
}

.player-number {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

#informations {
    position: absolute;
    width: 25vw;
    top: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    padding: 10px;
    font-size: 0.5em;
}

.information {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
}

#deviceList {
    height: 75vh;
    overflow-y: auto;
    padding: 0;
    list-style-type: none;
    font-size: 0.5em;
}

    #deviceList li {
        background: rgba(255, 255, 255, 0.9);
        margin: 10px 0 10px 0;
        padding: 0 10px 0 10px;
        border: 1px solid #ddd;
        font-size: 1em;
    }

        #deviceList li.selected {
            background: rgba(173, 216, 230, 0.9);
        }

.definition-list {
    font-size: 6px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .definition-list dt {
        font-weight: bold;
        margin-top: 5px;
    }

    .definition-list dd {
        margin-bottom: 5px;
        margin-left: 0;
        padding-left: 20px;
    }

.popup {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 25vw;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    z-index: 1001;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 0.1em;
}

    .popup h2 {
        margin: 0 0 10px;
    }

    .popup div {
        margin: 0 0 10px;
    }

button {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 0.1em;
    cursor: pointer
}

    button.info {
        background-color: #4caf50;
        color: white;
    }

        button.info:hover {
            background-color: #45a049;
        }

    button.warn {
        background-color: #ce2525;
        color: white;
    }

        button.warn:hover {
            background-color: #9c2727;
        }
